<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title id="title">
        RegistrApp
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- AVATAR-->
  <div id="container">
    <img id="noticiaDuoc" src="../../assets/icon/noticias_duoc.jpg">
<br><br>

    
    <!-- Botones -->
      <br>
      <ion-button (click)="iniciarSesion()" id="botoninicial"  color="warning" expand="">Iniciar Sesión</ion-button> <br><br>
  </div>
  
</ion-content>
